html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: spaceranger;
    src: url("../fonts/spaceranger.ttf");
}

@font-face {
    font-family: aspace;
    src: url("../fonts/aspace_demo.otf");
}

@font-face {
    font-family: euphemia;
    src: url("../fonts/euphemia.ttf");
}

.site-container {
    max-width: 1200px;
}


body {
    background-color: #1d1e4e;
    margin: 0;
}

#header {
    margin: 0 auto;
    background-image: url("../img/stars.png");
    width: 100%;
    height: auto;
}

#logo img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media all and (min-width: 100px) {
    #header {
        padding: 30px;
    }

    h2 {
        margin-top: -1px;
        margin-bottom: -5px;
    }

    #content {
        padding: 10px;
    }

    #content a {
      display: block;
    }

    .btn {
        display: inline;;
        padding: 10px 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #content #bottom {
      float: right;
    }

    #images img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    #images {
        margin-left: -40px;
        padding: 10px;
    }

    #images ul li {
        margin-bottom: 10px;
    }


}

h2 {
    color: #d4fc43;
    font-family: spaceranger;
    font-size: 2em;
}

h3 {
    font-size: 1em;
    color: #5b93d0;
    font-family: aspace;
}

p {
    color: #e6e6e6;
    font-family: euphemia;
    font-size: 0.8em;
}

#link {
    font-family: euphemia;
    color: #fb182c;

}

#link:hover {
    text-decoration: underline;
    font-style: italic;
}


/* Begin Button Styling */

.btn {
    border: none;
    color: #e6e6e6;
    background-color: #ff7000;
    text-align: center;
    font-family: euphemia;
    border-radius: 10px;
    box-shadow: 0 6px #ab3c3c;
    padding: 15px 40px;
    position: relative;
}

#top {
    padding: 15px 45px;
}

.btn-h:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

.btn-h:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

/* End button styling */


.lists ul li {
    list-style: none;
}

.lists {
    margin: 0 auto;
}
