@font-face {
    font-family: spaceranger;
    src: url("../fonts/spaceranger.ttf");
}

@font-face {
    font-family: aspace;
    src: url("../fonts/aspace_demo.otf");
}

@font-face {
    font-family: euphemia;
    src: url("../fonts/euphemia.ttf");
}


body {
    background-color: #1d1e4e;
}

#header {
    background-image: url("../img/stars.png");
    width: 100%;
    height: auto;
}

h2 {
    color: #d4fc43;
    font-family: spaceranger;
}

h3 {
    color: #5b93d0;
    font-family: aspace;
}

p {
    color: #e6e6e6;
    font-family: euphemia;
}

#link {
    font-family: euphemia;
    color: #fb182c;
}


/* Begin Button Styling */

.btn {
    border: none;
    color: #e6e6e6;
    background-color: #ff7000;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 6px #ab3c3c;
    padding: 15px 50px;
    position: relative;
}

.btn-h:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

.btn-h:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

/* End button styling */


.lists ul li {
    list-style: none;
}
