body {
    background-color: #1d1e4e;
}

#header {
    background-image: url("../img/stars.png");
    width: 100%;
    height: auto;
}

h2 {
    color: #d4fc43;
}

h3 {
    color: #5b93d0;
}

p {
    color: #e6e6e6;
}

#content a {
    color: #fb182c;
}

button {
    color: #e6e6e6;
    background-color: #ff7000;
}

.lists ul li {
    list-style: none;
}
